.botão{
    width: 180px;
    height: 57px;
    padding: 10px 61px 16px 61px;
    gap: 0px;
    border-radius: 20px 0px 20px 20px;
    opacity: 0px;
    background: #888DF2;
    box-shadow: 0px 0px 50px 0px #888DF280;
}